img.octopus {
 	position:absolute;
 	top: 200px;
	left: 420px;
	z-index: -1;
	margin: auto;
}

img.glasses {
   	position: absolute;
 	top: 300px;
 	left: 465px;
 	margin: auto;
}

img.hat {
   	position: absolute;
 	top: 110px;
 	left: 390px;
 	margin: auto;
}